@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
    font-family: 'Zilla Slab', serif, sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.panel-body {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   padding: 2em;
}
