body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: block;
  margin: auto;
}

.panel-body {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

/*make form length stretch to fill container*/
input {
  width: 100%;
  padding: 10px;
}
